.hero {
  position: relative;
  min-height: 250px;
  height: calc(100vh - 100px);
  margin-top: 100px;
  padding-bottom: 60px;
  color: var(--color-light);
  background: url('./../img/hero/hero-bg.webp') center/cover no-repeat;
  background-color: var(--color-dark-alt);
  z-index: 0;

  @include tablet-s {
    height: calc(70vh - 100px);
  }

  @include mobile {
    height: calc(50vh - 100px);
    padding-bottom: 20px;
  }

  &::after {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    bottom: 0;
    height: 42%;
    background: var(--gradient);
    z-index: 0;
  }

  &__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: end;
    height: 100%;
  }

  &__content {
    display: flex;
    flex-direction: column;
    z-index: 1;

    @include tablet-s {
      grid-column: 2 span;
    }
  }

  &__subtitle-link {
    margin-bottom: 4px;
    text-transform: uppercase;
  }

  &__title {
    margin-bottom: 10px;
  }

  &__info {
    display: flex;
    align-items: center;
    column-gap: 15px;
    font-family: var(--font-family-alt);
  }

  &__author-link {
    span {
      color: var(--color-muted);
    }
  }
}