<header class="header" id="header">
  <div class="header__inner container">
    <a class="header__logo" href="#!">
      <img
        src="./img/icons/logo.svg"
        alt="Fashion Logo"
        width="128"
        height="32"
        loading="lazy"
      />
    </a>
    <nav class="header__menu menu" id="menu">
      <ul class="menu__list">
        <li class="menu__item">
          <a class="menu__link menu__link--active" href="#!">Home</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#!">Recipes</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#!">Article</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#!">Contact</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#!">Purchase</a>
        </li>
      </ul>
    </nav>
    <button class="header__burger-button burger-button" id="burger-button" type="button">
      <div class="burger-button__inner">
        <div class="burger-button__bar"></div>
      </div>
    </button>
  </div>
</header>