<section class="hero">
  <div class="hero__inner container">
    <article class="hero__content">
      <a class="hero__subtitle-link" href="#!">Vehicle</a>
      <h1 class="hero__title">
        One of Saturn’s largest rings may be newer than anyone
      </h1>
      <div class="hero__info">
        <time class="hero__time" datetime="2019-06-06">June 6, 2019</time>
        <a class="hero__author-link" href="#!"><span>By</span> Rickie Baroch</a>
        <div class="hero__comments">4 comments</div>
      </div>
    </article>
  </div>
</section>